:root {
	--green-0: #ebfbee;
	--green-100: #d3f9d8;
	--green-200: #b2f2bb;
	--green-500: #51cf66;
	--green-700: #37b24d;
	--cyan-100: #c5f6fa;
	--cyan-400: #3bc9db;
	--cyan-600: #15aabf;
	--violet-100: #e5dbff;
	--violet-300: #b197fc;
	--violet-500: #845ef7;
	--grey-100: #f1f3f5;
	--grey-400: #ced4da;
	--grey-700: #495057;
	--grey-900: #212529;
	--border-width: 3.5px;
}

header {
	display: grid;
	grid-template-areas: "logo logo" "add-traveler wagon-status";
	column-gap: 0.4rem;
}
.logo {
	grid-area: logo;
}
.logo__title {
	font-size: 2.5rem;
	color: var(--grey-700);
	text-align: center;
	padding-bottom: 0.8rem;
}
.add-traveler {
	grid-area: add-traveler;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	border-radius: 10px;
	border: 1px solid var(--grey-700);
	height: 225px;
	width: 100%;
}

.wagon-status__title,
.add-traveler__tittle {
	text-transform: uppercase;
	font-weight: bold;
	background-color: var(--grey-400);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	width: 100%;
	padding: 5px;
	font-size: 1rem;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.add-traveler__label {
	font-size: 1rem;
}
.add-traveler__input {
	width: 90%;
	border: 1px solid var(--grey-400);
	border-radius: 10px;
	align-self: center;
	height: 1.5rem;
	padding-left: 0.5rem;
}
.add-traveler__submit {
	font-size: 1rem;
	padding: 0.3rem;
	border-radius: 5px;
	cursor: pointer;
}
.wagon-status {
	grid-area: wagon-status;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 100%;
	border-radius: 10px;
	border: 1px solid var(--grey-700);
}

.wagon-status__info {
	text-align: center;
}

.info__number {
	display: block;
	padding: 0.2rem;
	font-weight: bold;
}

.wagon__figure {
	display: flex;
	justify-content: center;
}
.wagon__figure > img {
	width: 120px;
}

.card-list {
	display: flex;
	align-items: center;
	border: 1px solid var(--grey-700);
	height: 560px;
	margin: 1rem 0;
	padding: 1rem;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
	justify-content: flex-start;
	gap: 1rem;
	scroll-behavior: smooth;
	scrollbar-color: rebeccapurple green;
	scroll-padding: 20px;

	border-radius: 1rem;
}

.card-list--empty {
	justify-content: center;
}

.card-list__empty {
	display: grid;
	grid-template-areas: "title title" "subtitle travelerIcon ";
	justify-content: center;
	align-items: center;
	row-gap: 20px;
	font-size: 3rem;
	color: var(--grey-900);
	text-align: center;
}
.empty__title {
	grid-area: title;
	justify-self: center;
	font-size: 2rem;
}

.empty__sub-title {
	grid-area: subtitle;
	font-size: 1.5rem;
}
.fa-solid .fa-person-walking-luggage {
	grid-area: travelerIcon;
}
.card__info {
	min-width: 260px;
	max-width: 260px;
	display: grid;
	grid-template-rows: repeat(4, 15px) 1px repeat(2, 32px) 120px;
	grid-template-areas:
		"name name"
		"img type"
		"img health"
		"img food"
		"div div"
		"eat eat"
		"hunt hunt"
		"transfer transfer";
	text-align: center;
	gap: 35px;
	align-items: start;
	height: 520px;
}

.card__traveler-name {
	text-transform: uppercase;
	grid-area: name;
	height: 34px;
	font-size: 1.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--grey-400);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-weight: bold;
	color: var(--grey-900);
	width: 100%;
}
.card__traveler-img {
	grid-area: img;
	height: 120px;
	justify-self: flex-end;
	align-self: center;
	border: 1px solid black;
}
.card__traveler-type {
	grid-area: type;
	text-transform: uppercase;
	font-size: 1.1rem;
	font-weight: bold;
}
.card__traveler-type--common {
	color: var(--green-700);
}
.card__traveler-type--hunter {
	color: var(--violet-500);
}
.card__traveler-type--doctor {
	color: var(--cyan-600);
}

.card__traveler-food {
	grid-area: food;
	font-size: 1rem;
}
.card__traveler-health {
	grid-area: health;
	font-size: 1rem;
}

.card__traveler-div {
	grid-area: div;
	height: 1px;
	background-color: var(--grey-900);
	width: 90%;
	justify-self: center;
}
.card__traveler-hunt {
	grid-area: hunt;
	font-size: 1rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
	background-color: var(--grey-100);
	width: 80%;
	justify-self: center;
}
.card__traveler-hunt:hover {
	cursor: pointer;
}
.card__traveler-eat {
	grid-area: eat;
	font-size: 1rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
	background-color: var(--grey-100);
	width: 80%;
	justify-self: center;
}
.card__traveler-eat:hover {
	cursor: pointer;
}
.card__traveler-giveFood {
	grid-area: transfer;
	font-size: 1rem;
	line-height: 1.5rem;
	border-radius: 0.5rem;
	width: 80%;
	justify-self: center;
	padding: 4px;
}

.card__traveler-giveFood > input {
	margin-left: 0.5rem;
	width: 25px;
	text-align: center;
	font-weight: bold;
	color: var(--grey-900);
	border: 1px var(--grey-700) solid;
	border-radius: 5px;
}
.card__traveler-giveFood select {
	/* /* margin-left: 10px; */
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	border: 1px var(--grey-700) solid;
	border-radius: 5px;
}
.card__traveler-giveFood button {
	font-size: 1rem;
	background-color: var(--grey-100);
	padding: 0.5rem;
	border-radius: 5px;
	width: 100%;
}

.card__traveler-heal {
	grid-area: transfer;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	font-size: 1rem;
	line-height: 1.5rem;
	width: 80%;
	justify-self: center;
	border-radius: 0.5rem;
	padding: 4px;
}

.card__select--heal {
	width: 100%;
	border: 1px var(--grey-700) solid;
	border-radius: 5px;
}
.card__heal-button {
	font-size: 1rem;
	background-color: var(--grey-100);
	padding: 0.5rem;
	border-radius: 5px;
	width: 100%;
}

/* !Fonte: Adaptado de: https://codepen.io/alphardex/pen/vYEYGzp  */

.card--border-green {
	position: relative;
	background-color: white;
	border-radius: 10px;
	margin: var(--border-width);
}

.card--border-green::after {
	position: absolute;
	content: "";
	top: calc(-1 * var(--border-width));
	left: calc(-1 * var(--border-width));
	z-index: -1;
	width: calc(100% + var(--border-width) * 2);
	height: calc(100% + var(--border-width) * 2);
	background: linear-gradient(
		60deg,
		#8ce99a,
		#69db7c,
		#40c057,
		#96f2d7,
		#63e6be,
		#38d9a9,
		#0ca678,
		#099268,
		#2b8a3e
	);
	background-size: 300% 300%;
	background-position: 0 50%;
	border-radius: 10px;
	animation: moveGradient 4s alternate infinite;
}

.card--border-cyan {
	position: relative;
	background-color: white;
	border-radius: 10px;
	margin: var(--border-width);
}

.card--border-cyan::after {
	position: absolute;
	content: "";
	top: calc(-1 * var(--border-width));
	left: calc(-1 * var(--border-width));
	z-index: -1;
	width: calc(100% + var(--border-width) * 2);
	height: calc(100% + var(--border-width) * 2);
	background: linear-gradient(
		60deg,
		#e7f5ff,
		#d0ebff,
		#a5d8ff,
		#c5f6fa,
		#66d9e8,
		#3bc9db,
		#22b8cf,
		#15aabf,
		#1098ad,
		#0c8599,
		#5c7cfa,
		#91a7ff,
		#0b7285
	);
	background-size: 300% 300%;
	background-position: 0 50%;
	border-radius: 10px;
	animation: moveGradient 4s alternate infinite;
}

.card--border-violet {
	position: relative;
	background-color: white;
	border-radius: 10px;
	margin: var(--border-width);
}

.card--border-violet::after {
	position: absolute;
	content: "";
	top: calc(-1 * var(--border-width));
	left: calc(-1 * var(--border-width));
	z-index: -1;
	width: calc(100% + var(--border-width) * 2);
	height: calc(100% + var(--border-width) * 2);
	background: linear-gradient(
		60deg,
		#f3f0ff,
		#e5dbff,
		#d0bfff,
		#b197fc,
		#eebefa,
		#e599f7,
		#9c36b5,
		#9775fa,
		#7950f2,
		#7048e8,
		#6741d9,
		#5f3dc4
	);
	background-size: 300% 300%;
	background-position: 0 50%;
	border-radius: 10px;
	animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
	50% {
		background-position: 100% 50%;
	}
}

@media (min-width: 1024px) {
	/* .card-list {
	}
	.card__info {
	} */
}
@media (min-width: 1440px) {
	body {
		max-width: 1440px;
		margin: 0 auto;
		margin-top: 8px;
	}
	/* .card-list {
	} */
	.card__info {
		min-width: 300px;
	}
}

.footer__copyright {
	display: flex;
	justify-content: center;
}

.footer__copyright h4 {
	font-size: 12px;
	font-weight: 400;
}
