:root {
	--green-0: #ebfbee;
	--green-100: #d3f9d8;
	--green-200: #b2f2bb;
	--green-500: #51cf66;
	--green-700: #37b24d;
	--cyan-100: #c5f6fa;
	--cyan-400: #3bc9db;
	--cyan-600: #15aabf;
	--violet-100: #e5dbff;
	--violet-300: #b197fc;
	--violet-500: #845ef7;
	--grey-100: #f1f3f5;
	--grey-400: #ced4da;
	--grey-700: #495057;
	--grey-900: #212529;
	--border-width: 3.5px;
}

header {
	display: grid;
	grid-template-areas: "logo logo" "add-traveler wagon-status";
	column-gap: 0.4rem;
}
.logo {
	grid-area: logo;
}
.logo__title {
	font-size: 2.5rem;
	color: var(--grey-700);
	text-align: center;
	padding-bottom: 0.8rem;
}
.add-traveler {
	grid-area: add-traveler;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	border-radius: 10px;
	border: 1px solid var(--grey-700);
	height: 200px;
}
.add-traveler__label {
	font-size: 1rem;
}
.add-traveler__input {
	width: 90%;
	border: 1px solid var(--grey-400);
	border-radius: 10px;
	align-self: center;
	height: 1.5rem;
	padding-left: 0.5rem;
}
.add-traveler__submit {
	font-size: 1rem;
	padding: 0.3rem;
	border-radius: 5px;
}
.wagon-status {
	grid-area: wagon-status;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 100%;
	border-radius: 10px;
	border: 1px solid var(--grey-700);
}
.wagon-status__title,
.add-traveler__tittle {
	text-transform: uppercase;
	font-weight: bold;
	background-color: var(--grey-400);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	width: 100%;
	text-align: center;
	padding: 5px;
	font-size: 1rem;
}
.wagon-status__info {
	text-align: center;
}

.info__number {
	display: block;
	padding: 0.2rem;
	font-weight: bold;
}

.wagon__figure {
	display: flex;
	justify-content: center;
}
.wagon__figure > img {
	width: 120px;
}

.card-list {
	margin: 1rem 0;
	width: 100%;
	overflow-x: scroll;
	display: flex;
	justify-content: flex-start;
	gap: 1rem;
	padding-bottom: 1rem;
	scroll-behavior: smooth;
}
.card__info {
	min-width: 200px;
	max-width: 200px;
	height: 380px;
	display: flex;
	align-items: center;

	flex-direction: column;
	gap: 1.2rem;
	text-align: center;
}

.card__traveler-name {
	text-transform: uppercase;

	height: 34px;
	font-size: 1.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--grey-400);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-weight: bold;
	color: var(--grey-900);
	width: 100%;
}
.card__traveler-type {
	text-transform: uppercase;
	font-size: 1.1rem;
	font-weight: bold;
}
.card__traveler-type--common {
	color: var(--green-700);
}
.card__traveler-type--hunter {
	color: var(--violet-500);
}
.card__traveler-type--doctor {
	color: var(--cyan-600);
}

.card__traveler-food {
	font-size: 1rem;
}
.card__traveler-health {
	font-size: 1rem;
}
.card__traveler-hunt {
	font-size: 1rem;
	width: 60px;
	border-radius: 0.5rem;
	padding: 0.5rem;
	background-color: var(--grey-100);
}
.card__traveler-hunt:hover {
	cursor: pointer;
}
.card__traveler-eat {
	font-size: 1rem;
	width: 60px;
	border-radius: 0.5rem;
	padding: 0.5rem;
	background-color: var(--grey-100);
}
.card__traveler-eat:hover {
	cursor: pointer;
}
.card__traveler-giveFood {
	font-size: 1rem;
	line-height: 1.5rem;
	width: 180px;
	border-radius: 0.5rem;
	padding: 4px;
}
.card__traveler-giveFood > label {
}
.card__traveler-giveFood > input {
	margin-left: 0.5rem;
	width: 25px;
	text-align: center;
	font-weight: bold;
	color: var(--grey-900);
	border: 1px var(--grey-700) solid;
	border-radius: 5px;
}
.card__traveler-giveFood select {
	display: block;
	margin: 0 auto;
}
.card__traveler-giveFood button {
	font-size: 1rem;
	background-color: var(--grey-100);
	padding: 0.5rem;
	border-radius: 5px;
}
.card__traveler-giveFood .traveler__option {
}

.card__traveler-heal {
	background-color: var(--grey-100);
	margin-bottom: 0.2rem;
}

footer {
}
.created-wagons {
}
.created-wagons__title {
}
.created-wagons__buttons {
}
.create-new-wagon {
}

/* !Fonte: Adaptado de: https://codepen.io/alphardex/pen/vYEYGzp  */

.card--border-green {
	position: relative;
	background-color: white;
	border-radius: 10px;
	margin: var(--border-width);
}

.card--border-green::after {
	position: absolute;
	content: "";
	top: calc(-1 * var(--border-width));
	left: calc(-1 * var(--border-width));
	z-index: -1;
	width: calc(100% + var(--border-width) * 2);
	height: calc(100% + var(--border-width) * 2);
	background: linear-gradient(
		60deg,
		#8ce99a,
		#69db7c,
		#40c057,
		#96f2d7,
		#63e6be,
		#38d9a9,
		#0ca678,
		#099268,
		#2b8a3e
	);
	background-size: 300% 300%;
	background-position: 0 50%;
	border-radius: 10px;
	animation: moveGradient 4s alternate infinite;
}

.card--border-cyan {
	position: relative;
	background-color: white;
	border-radius: 10px;
	margin: var(--border-width);
}

.card--border-cyan::after {
	position: absolute;
	content: "";
	top: calc(-1 * var(--border-width));
	left: calc(-1 * var(--border-width));
	z-index: -1;
	width: calc(100% + var(--border-width) * 2);
	height: calc(100% + var(--border-width) * 2);
	background: linear-gradient(
		60deg,
		#e7f5ff,
		#d0ebff,
		#a5d8ff,
		#c5f6fa,
		#66d9e8,
		#3bc9db,
		#22b8cf,
		#15aabf,
		#1098ad,
		#0c8599,
		#364fc7,
		#5c7cfa,
		#91a7ff,
		#0b7285
	);
	background-size: 300% 300%;
	background-position: 0 50%;
	border-radius: 10px;
	animation: moveGradient 4s alternate infinite;
}

.card--border-violet {
	position: relative;
	background-color: white;
	border-radius: 10px;
	margin: var(--border-width);
}

.card--border-violet::after {
	position: absolute;
	content: "";
	top: calc(-1 * var(--border-width));
	left: calc(-1 * var(--border-width));
	z-index: -1;
	width: calc(100% + var(--border-width) * 2);
	height: calc(100% + var(--border-width) * 2);
	background: linear-gradient(
		60deg,
		#f3f0ff,
		#e5dbff,
		#d0bfff,
		#b197fc,
		#eebefa,
		#e599f7,
		#9c36b5,
		#9775fa,
		#7950f2,
		#7048e8,
		#6741d9,
		#5f3dc4
	);
	background-size: 300% 300%;
	background-position: 0 50%;
	border-radius: 10px;
	animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
	50% {
		background-position: 100% 50%;
	}
}

/* PARA FAZER A BORDA BRILHAR => Fazer 3 cores  */
/* 
@keyframes glowGreen {
	0% {
		border-color: var(--green-100);
		-webkit-box-shadow: 0 0 5px var(--green-100);
		-moz-box-shadow: 0 0 5px var(--green-100);
		box-shadow: 0 0 5px var(--green-100);
	}
	25% {
		border-color: var(--green-200);
		-webkit-box-shadow: 0 0 5px var(--green-200);
		-moz-box-shadow: 0 0 5px var(--green-200);
		box-shadow: 0 0 5px var(--green-200);
	}
	50% {
		border-color: var(--green-500);
		-webkit-box-shadow: 0 0 5px var(--green-500);
		-moz-box-shadow: 0 0 5px var(--green-500);
		box-shadow: 0 0 5px var(--green-500);
	}
	100% {
		border-color: var(--green-700);
		-webkit-box-shadow: 0 0 5px var(--green-700);
		-moz-box-shadow: 0 0 5px var(--green-700);
		box-shadow: 0 0 5px var(--green-700);
	}
}

.card--border-green {
	border: 2px solid var(--green-200);
	border-radius: 10px;
	box-shadow: 0 0 5px var(--green-200);
	-webkit-animation: glowGreen 1s infinite alternate;
}

@keyframes glowCyan {
	0% {
		border-color: var(--cyan-100);
		-webkit-box-shadow: 0 0 5px var(--cyan-100);
		-moz-box-shadow: 0 0 5px var(--cyan-100);
		box-shadow: 0 0 5px var(--cyan-100);
	}
	50% {
		border-color: var(--cyan-400);
		-webkit-box-shadow: 0 0 5px var(--cyan-400);
		-moz-box-shadow: 0 0 5px var(--cyan-400);
		box-shadow: 0 0 5px var(--cyan-400);
	}
	100% {
		border-color: var(--cyan-600);
		-webkit-box-shadow: 0 0 5px var(--cyan-600);
		-moz-box-shadow: 0 0 5px var(--cyan-600);
		box-shadow: 0 0 5px var(--cyan-600);
	}
}

.card--border-cyan {
	border: 2px solid var(--cyan-100);
	border-radius: 10px;
	box-shadow: 0 0 5px var(--cyan-100);
	-webkit-animation: glowCyan 1s infinite alternate;
}

.card--border-violet {
	border: 2px solid var(--violet-100);
	border-radius: 10px;
	box-shadow: 0 0 5px var(--violet-100);
	-webkit-animation: glowViolet 1s infinite alternate;
}

@keyframes glowViolet {
	0% {
		border-color: var(--violet-100);
		-webkit-box-shadow: 0 0 5px var(--violet-100);
		-moz-box-shadow: 0 0 5px var(--violet-100);
		box-shadow: 0 0 5px var(--violet-100);
	}
	50% {
		border-color: var(--violet-300);
		-webkit-box-shadow: 0 0 5px var(--violet-300);
		-moz-box-shadow: 0 0 5px var(--violet-300);
		box-shadow: 0 0 5px var(--violet-300);
	}
	100% {
		border-color: var(--violet-500);
		-webkit-box-shadow: 0 0 5px var(--violet-500);
		-moz-box-shadow: 0 0 5px var(--violet-500);
		box-shadow: 0 0 5px var(--violet-500);
	}
	
} */
